*.o
*~
aclocal.m4
config.h
configure
depcomp
*.tar.gz
*.sublime-project
*.sublime-workspace
.clang_complete
install-sh
missing
*.in
missing
stamp-h1
.deps
compile
Makefile
autom4te.cache
config.log
config.status
evjscal
evjstest
